<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jl.eg.rus.tn.russianege">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Theory_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_10"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_11"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_12"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_13"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_14"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_15"
            android:screenOrientation="portrait" />
        <activity android:name=".Theory_16"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Theory_17"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_18"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_19"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_20"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_21"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_22"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_23"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_24"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_25"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory_26"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result10"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result11"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result12"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result13"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result14"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result15"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result16"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result17"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result18"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result19"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result20"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result21"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result22"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result23"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result24"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result25"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Result26"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task10"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task11"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task12"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task13"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task14"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task15"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task16"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task17"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task18"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task19"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task20"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task21"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task22"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task23"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task24"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task25"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Task26"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TasksChoose"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TheoryChoose"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tamagochi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AuthorsInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>